@font-face {
  font-family: fonty;
  src: url(fonts/telemarines1.ttf);
}
 

html {
    background-image: url('images/bg.jpg');
    background-color: steelblue;
    background-position: right top;
    background-attachment: fixed; 
    background-size: 2000px;
   
}


* {
    margin: 0px ;
    padding: 0px;
}

nav {
    background-color: black;
    margin:  75px 0px;
    padding: 5px;
    text-align: center;
    border: 2px solid DodgerBlue;
    min-height: 6vh;
    box-shadow: 0 0 10px DodgerBlue;
      
  
}


nav a {
    background-color: ;
    color: skyblue;
    margin: 80px;
    font-size: 30px;
    font-family: fonty;
    text-decoration: none;
    text-shadow: 0 0 10px DodgerBlue;
}

section {
    background-color: rgb(0,0,0); 
    min-height: 55vh;
    margin: 5vh;
    border: 2px solid DodgerBlue;
    box-shadow: 0 0 20px DodgerBlue;

}

footer {/*
    background-color: red;
    color: black;
    font-size: 18px;
    text-align: center;
    margin; 10px 10px;*/
   


}

h1 {
    text-align: center;
    font-family: "fonty";
    color: white;
}

h2 {
    color: black;
    font-family: "Times New Roman";
    
}


p {
    text-align: center;
    font-family: "Century Gothic";
    color: white;
}
