html {
    background-image: url(Images/bg.jpg);
    background-color: palevioletred;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: black;
    margin:  60px 0px;
    padding: 20px;
    text-align: center;
  
}


nav a {
    background-color: ;
    color: skyblue;
    margin: 90px;
    font-size: 30px;
    font-family: ;
}

section {
    background-color: lightyellow;
    min-height: 50vh;
    margin: 6vh;

}

footer {
    background-color: red;
    color: black;
    font-size: 18px;
    text-align: center;


}

h1 {
    text-align: center
}

p {
    text-align: center;
}
