@font-face {
    font-family: fonty;
    src: url(fonts/telemarines1.ttf);
}

a:hover {
    color: red;
}

html {
    background-image: url('images/bg.jpg');
    background-position: right top;
    background-attachment: fixed;
    background-size: 2000px;
    background-repeat: no-repeat;
}


* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: rgb(0, 0, 0);
    margin: 2vh 0px 8vh 0px;
    padding: 5px;
    border: 2px solid DodgerBlue;
    min-height: 6vh;
    box-shadow: 0 0 10px DodgerBlue;
    text-align: center;


}


nav a {
    color: skyblue;
    margin: 60px;
    font-size: 35px;
    font-family: fonty;
    text-decoration: none;
    text-shadow: 0 0 5px rgb(15, 140, 247);

}

section {
    background-color: rgb(0, 0, 0);
    min-height: 55vh;
    margin: 5vh;
    border: 2px DodgerBlue;
    box-shadow: 0 0 30px DodgerBlue;
    



}

footer {
    
    background-color: red;
    color: black;
    font-size: 18px;
    text-align: center;
    margin; 10px 10px;
    
}

.mainImg {
    width: 60%;
    display: block;
    margin: 3vh auto;
}

.secondImg{
    
}
.thirdImg{
    
}

.logo {
    width: 25%;
    display: block;
    margin: 1vh auto;
}

h1 {
    font-size: 35px;
    text-align: center;
    font-family: "fonty";
    color: skyblue;
    text-shadow: 0 0 5px rgb(15, 140, 248);
    margin: -4vh;
}

h2 {
    color: white;
    font-family: "Century Gothic";
    text-align: center;
    font-size: 25px;

}
h3{
    color: white;
    font-family: "Century Gothic";
    Text-align: center;
    font-size: 25px;
}

p {
    text-align: center;
    font-family: "Century Gothic";
    color: white;
    font-size: 18px;
}
